.service-about { 
    padding-top: 100px;
    h3 { 
        padding-bottom: 10px !important;
    }
    &_image {  
            border-radius: 4px; 
            height: 294px; 
    }
    &_text { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        p { 
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
        }
    }
    &_items {  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 90px;
        margin-top: 30px;
        padding: 15px 5px;

        font-size: 14px;
        line-height: 13px;
        font-weight: 700;
        color: #fff;
        text-align: center;

        border-radius: 4px;
        background-image: -moz-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(251,175,56) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(251,175,56) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(251,175,56) 100%); 

        svg { 
            width: 23px;
            height: 23px;
            margin-bottom: 5px;
            fill: #fff;
        }
        span { 
            width: 100%;
        }
    }
    &_trigger-section { 
        margin-top: 70px;
    }
      
    &_trigger { 
        &:hover { 
            
            box-shadow: 0px 11px 35px 0px rgba(173, 172, 171, 0.64);
            animation: tg-an 500ms ease forwards;
            background-image: -ms-linear-gradient( -41deg, rgb(119,55,251) 0%, rgb(99,28,253) 40%, rgb(78,0,255) 100%);
            svg { 
                fill: #fff;  
                // animation: tg-svg-an 500ms ease forwards ;
            }
            .more a { 
                display: inline-block;
            }
           
              
        }
        display: flex;
        flex-direction: column; 
        height: 420px;

        margin-bottom: 30px;
        padding: 40px 30px 25px 30px ;

        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 11px 35px 0px rgba(173, 172, 171, 0.64);

        transition: 300ms ease;
        cursor: pointer;
        &__head { 
            display: flex;
            align-items: center;

            padding-bottom: 20px;

            svg { 
                width: 41px;
                height: 40px;
                fill: #7737fb;
                transition: 200ms ease;
            }
            h5 {  
                padding-left: 10px;
                margin: 0;
                font-size: 22px;
                line-height: 20px;
                font-weight: 800;
            }
        }
        &__text { 
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
        }
        .more { 
            flex-grow: 1;

            display: flex;
            align-items: flex-end;

            margin-top: 5px;
            padding: 10px 0;
           a { 
               transition: 300ms ease;
               line-height: 0;
                text-decoration: underline;
                font-weight: 500;
                color: #fff;
                display: none;
           }
        }
    }
}

@keyframes tg-an { 
    30% { 
        // color: #fff; 
    }
    100% { 
        color: #fff; 
        background-image: -moz-linear-gradient( -41deg, rgb(119,55,251) 0%, rgb(99,28,253) 40%, rgb(78,0,255) 100%);
        background-image: -webkit-linear-gradient( -41deg, rgb(119,55,251) 0%, rgb(99,28,253) 40%, rgb(78,0,255) 100%);
        background-image: -ms-linear-gradient( -41deg, rgb(119,55,251) 0%, rgb(99,28,253) 40%, rgb(78,0,255) 100%);
    }
}
@keyframes tg-svg-an { 
    0% {  
        fill: #fff; 
    }
    100% {  
        fill: #fff;
    }
}