


 

 

@media screen and (max-width: 1200px) { 
    .service-five { 
        &-col {  
            width: 25%; 
            margin-bottom: 20px;
        } 
    }
   
    .service-masters { 
      
        &_item {  
            padding-bottom: 30px; 
            
            margin-top: 75px;
            &__image {
                transform: translateY(-75px);
                margin-bottom: -75px;
                width: 150px;
                height: 150px; 
            } 
        }
    } 
    .service-footer { 
        padding-top: 20px;
        flex-direction: column;   
        &_menu  {  
            margin: 20px 0; 
        }
        &_tools { 
            display: flex; 
            flex-direction: column;
            align-items: center;
            &-policy { 
                position: relative;  
                bottom: auto;
                right: auto;
            }
        }
    }
    header.sticky { 
        .mobile-menu { 
            padding: 0 10px !important;
        }
        .service-header_menu a { 
            margin-right: 5px;
        }
    }
} 

@media screen and (max-width: 995px) { 
    .service-header { 
        margin-bottom: 0;
        &_collapse { 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
    
            &__tools { 
                order: 2;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-left: 0;
            }
        }
    
        &_menu  { 
            position: static; 
            
            
            width: 100%; 
            height: auto;
            background: none;
            
            .mobile-menu { 
                display: flex;
                flex-direction: column;
                
                padding-bottom: 20px;
            }
            a { 
                color: #000;
            }
        }
    }
    .service-banner {  
    
        &_trigger { 
            
            &-item { 
                margin-bottom: 15px;
            }
        }
    }
    .service-five { 
   
        h3 {  
        }   
        &-col {  
            width: 33% !important;
            min-height: 490px;
        }
        &-item { 
            padding-bottom: 30px;
                        
            &_image { 
                height: 195px; 
            }
            &_text {  
                &__head {  
                }
                &__paragraph {  
                }
            }
            &_btn { 
                transform: scaleY(1);
                opacity: 1; 
                height: 40px; 
                a { 
                    height: 100%; 
                }
               
            }
        }
    }
    .service-table {  
        table { 
            margin-bottom: 50px;
        }
        &_footer {  
            &-pay {  
                top: -40px;
            } 
        }
    }
    .service-masters { 
      
        &_item {   
            
            margin-top: 100px;
            &__image {
                transform: translateY(-65px);
                margin-bottom: -65px;
                width: 130px;
                height: 130px; 
            } 
        }
    } 
    .service-swiper { 
        margin-top: 100px; 
        .swiper-wrapper { 
            padding: 20px 0;
        }  
        .swiper-button-next , .swiper-button-prev  { 
             display: none;
        } 
        .swiper-pagination-bullet {  
            // margin: 0 12px !; 
        }
        .swiper-pagination-bullet-active {   
            margin: 0 10px;  
        } 
        .swiper-slide { 
            padding: 50px 70px;
        }
    
        &_item { 
            
            margin: 0;
            width: 100%;
            max-width: 782px;
            min-height: 345px; 
    
            margin-top: 60px;
             
            
        }
    }
    .service-contact { 
        #map { 
            position: absolute;
            right: 0;
            left: 0;
            top: auto;
            bottom: 0;
            width: 100vw;
            height: 350px;
        } 

        margin-top: 100px; 

        &_item { 
            margin: 0 auto;
            min-height: 350px;
            padding-bottom: 380px; 
     
            form {  
                p {  
                }
                input {  
                }
                
                textarea {  
                }
                .btn-cont {  
                    button { 
                         
                    }
                    span {  
                    }
                }
                
            }
        }
    }
    .service-modal {  
        &-container { 
            &_header {
             display: none;
             } 
             &_contact, &_end { 
                 margin-top: 30px;
                 width: 100%;
                 padding-left: 10px;
                 padding-right: 10px;
             }
        }
    } 
    header.sticky .service-header_menu a { 
        margin-right: 0;
    }
    
}
@media screen and (max-width: 770px) {
    .service-header { 
        
        &_collapse { 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
    
            &__tools { 
                flex-direction: column;
                justify-content: flex-start; 
                align-items: center;
                &-select { 
                    padding-bottom: 30px;
                }
            }
        }
    }
    .service-banner { 
        &_content { padding-top: 50px;
            align-items: center;
            h2 { 
                text-align: center; 
                line-height: 40px; 
                margin-bottom: 40px;
            }
            &-price { 
                width: 100%;
                padding: 25px;
                margin-bottom: 20px;
    
                font-size: 20px;   
            }
            &-button { 
                // p { 
                //     font-size: 18px;
                //     font-weight: 800;
                //     margin-bottom: 15px;
                // }
                form {
                    display: flex;
                    flex-direction: column;
                    input { 
                        margin-bottom: 20px;
                    }
                    button  {
                        justify-content: center;
                    }
                 }
                span {
                    font-size: 12px;
                    line-height: 10px;
                    font-weight: 300;
                 }
            }
        }
    }
    .service-about { 
        &_items {   
            padding: 10px 5px;
    
            font-size: 12px;
            line-height: 10px; 
            svg { 
                width: 15px;
                height: 15px; 
            }
        }
        &_trigger { 
            height: auto;
        }
    }
    .service-four {   
        &_item { 
            height: 180px;
            padding: 30px 20px; 
        }
    }
    .service-five { 
   
        h3 {  
        }   
        &-col {  
            width: 50% !important;
            min-height: auto;
        }
        &-item { 
            margin-bottom: 20px;
            padding-bottom: 30px;
                        
            &_image { 
                height: 195px; 
            }
            &_text {  
                &__head {  
                }
                &__paragraph {  
                    min-height: 160px;
                }
            }
            &_btn { 
                transform: scaleY(1);
                opacity: 1; 
                height: 40px; 
                a { 
                    height: 100%; 
                }
               
            }
        }
    }
    .service-table {  
   
        
        tr { 
            display: flex; 
            
            // width: 100%;
            th { 
                &:first-child { 
                    flex-grow: 1;
                    padding-left: 20px;
                }
                &:last-child {  
                    min-width: 120px;
                    padding-right: 10px;
                }
            }
            td { 
                &:first-child { 
                    flex-grow: 1;
                    padding-left: 20px;
                }
                &:last-child {  
                    min-width: 120px;
                    padding-right: 10px;
                }
            }
        }  
    }
    .service-order {   
        &_item { 
            padding: 50px 0;
            margin-left: 0;
            h3 {  
                font-size: 30px; 
                margin-bottom: 20px;
            }
            &-form { 
                form {
                    display: flex;
                    input { 
                        flex-basis: 50%;
                        padding: 15px 20px;
                        margin-right: 10px;
     
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 600;  
                    }
                    button  { 
                        display: flex;
                        align-items: center;
                        padding: 15px 30px;
    
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 800;
                        line-height: 12px;   
                    }
                } 
                span { 
                    font-size: 12px;
                }
            }
        }
    }
    
    .service-accordion {   
        &_card {  
            &-header { 
                &_btn {  
                    padding: 25px;
                    padding-left: 40px;
                    font-size: 18px; 
                    i::before {  
                        left: 15px; 
                    }
                }
            }
            &-body { 
                padding-right: 20px;
                padding-left: 40px;
                padding-bottom: 30px;

                font-size: 14px;
                line-height: 14px; 
            }
        }
    }
    .service-masters { 
      
        &_item {   
            padding-bottom: 20px;
            &__name {
                margin-top: 15px; 
            }
            &__char { 
                margin-top: 10px; 
            }
        }
    } 
    .service-footer {  
        &_menu  {   
            ul { 
                flex-direction: column;
                align-items: center;
                li { 
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
        &_tools { 
            
            &-phone { 
                 flex-direction: column;
                 align-items: center;
                 .btn-custom { 
                     margin-top: 10px; 
                     width: 100%;
                     a { 
                         width: 100%;
                         text-align: center;
                         margin-left: 0;
                     }
                 }
            }
        }
    }
 }
 @media screen and (max-width: 500px) { 
    .section { 
        h3 {  
            font-size: 35px !important; 
        }
    }
    .service-header { 
        
        &_collapse {     
            &__tools { 
                &-phone { 
                    flex-direction: column;
                    width: 100%;
                    .number { 
                        justify-content: center;
                    }
                    .btn-custom { 
                        width: 100%;
                        margin-top: 15px;
                        a { 
                            width: 100%;
                            text-align: center;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    .service-banner { 
        &_content { 
            padding-top: 50px;
            align-items: center;
            h2 { 
                text-align: center;
                font-size: 35px !important; 
                line-height: 40px; 
                margin-bottom: 20px;
            }
            &-price { 
                width: 100%;
                padding: 25px;
                margin-bottom: 20px;
    
                font-size: 20px;   
            }
           &-button  { 
               p { 
                   line-height: 18px;
               }
               form { 
                   input { 
                       margin-right: 0;
                       text-align: center;
                   }
               }
               span { 
                   display: inline-block;
                   margin-top: 20px;
                   text-align: center;
               }
           }
        }
    
        &_trigger {  
            h3 { 
                font-size: 35px !important;
            }
            &-item { 
                 
                .text { 
                    width: 80%;
                    text-align: center;
                    font-size: 14px;
                    line-height: 12px; 
                   
                }
            }
        }
    }
    .service-four { 
        padding-top: 40px;
        h3 { 
           font-size: 35px !important;
        }
        &_item { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 120px !important; 
            padding: 0 5px 0 10px !important;
            &-number {
                margin-bottom: 0; 
                margin-right: 5px;
                font-size: 30px;  
                line-height: 30px;
            }
            &-title {
                margin-bottom: 10px; 
                font-size: 16px;
                font-weight: 700;
                line-height: 16px; 
                word-wrap: break-word;
            }
            &-text {
                font-size: 12px;
                line-height: 12px; 
            }
           
        }
        
    }
    .service-five { 
   
        h3 {  
            font-size: 35px !important;
        }   
        &-col {  
            width: 100% !important;  
        }
        &-item {    
            &_text {  
                padding: 15px;
                &__head {     
                    font-size: 14px;
                    line-height: 15px;
                    height: auto; 
                    margin-bottom: 10px;
                }
                &__paragraph {
                    font-size: 12px;
                    line-height: 14px;  
                    min-height: 60px;
                }
            }
            &_btn {  
                a  { 
                    height: auto; 
                    padding: 12px 15px;
                }
            }
            
        }
    }
    .service-order {   
        &_item { 
            padding: 30px 0;
            margin-left: 0;
            h3 {  
                white-space: pre-wrap;
                font-size: 20px; 
                margin-bottom: 20px;
                text-align: center;
            }
            &-form {  
                display: flex;
                flex-direction: column;
                align-items: center;
                form {
                    display: flex;
                    flex-direction: column; 
                    max-width: 80%;
                    input {  
                        padding: 10px 20px;
                        margin-right: 0;
                        margin-bottom: 10px;
     
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: 600;  
                    }
                    button  { 
                        justify-content: center;
                        padding: 10px 30px; 
                    }
                } 
                span { 
                    font-size: 10px;
                }
            }
        }
    }
    .service-accordion {  
        h3 { 
            font-size: 35px !important;
        }
    }
    .service-masters { 
      
        &_item {   
            
            margin-top: 80px;
            &__image {
                transform: translateY(-50px);
                margin-bottom: -50px;
                width: 100px;
                height: 100px; 
            }  
        }
    } 
    .service-swiper { 
        margin-top: 100px; 
        .swiper-wrapper { 
            padding: 20px 0;
        }  
        .swiper-button-next , .swiper-button-prev  { 
             display: none;
        } 
        .swiper-pagination-bullet {  
            // margin: 0 12px !; 
        }
        .swiper-pagination-bullet-active {   
            margin: 0 10px;  
        } 
        .swiper-slide { 
            padding: 30px 10px; 
        }
    
        &_item { 
            
            margin: 0;
            width: 100%;
            max-width: 782px;
            min-height: 345px; 
    
            margin-top: 60px;
             
             box-shadow: 0px 14px 15px 0px rgba(0, 0, 0, 0.16);
            
        }
    }
    .service-also  { 
        &_item {  
            height: 120px; 
            &__bg {  
                padding-top: 40px; 
            }
        }
    }
    .service-contact {  
        &_item {  
            form {  
                p {  
                }
                input {  
                    width: 100%;
                    &:first-of-type{ 
                        margin-bottom: 10px;
                    }
                }
               
                .btn-cont {  
                    flex-wrap: wrap;
                    button { 
                         width: 100%;
                    }
                    span {  
                        margin-top: 10px;
                    }
                } 
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .service-about { 
        &_items {    
            font-size: 10px; 
        }
    }
    .service-five { 
    
        &-col {   
        }
        &-item {   
            &_text {  
                padding: 15px;
                &__head {     
                    font-size: 14px;
                    line-height: 14px; 
                }
                &__paragraph {
                    font-size: 12px;
                    line-height: 14px;  
                }
            }
            
        }
    }
 }
 @media screen and (max-width: 350px) { }


 @media screen and (min-width: 992px) { 
     .mobile-menu { 
         padding-left: 65px !important;
         padding-right: 45px !important;
     }
     .service-banner {   
        background-image: url(../images/bg-main.png);   
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

     }
     .service-order { 
        background-image: url(../images/bg3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     }
 }


 
 