@import "../fonts/Circe/stylesheet.css";
@import "../fonts/Montserrat/Montserrat/stylesheet.css";

@import "https://unpkg.com/swiper/css/swiper.min.css";

@import "https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css";


html, body { 
    font-size: 16px;
    background: #fff; 
    color: #000;
}
$primary: #611afd;
$warning: #ffaf05; 

$font-family-sans-serif:  'Circe';
 

@import "_header";
@import "_main-banner";
@import "_about";
@import "_four"; 
@import "_five";
@import "_table";
@import "_order";
@import "_accordion";
@import "_master";
@import "_review";
@import "_also";
@import "_contact"; 
@import "_footer"; 
@import "_modal"; 

@import "_media";

// @import "../node_modules/mobius1-selectr/dist/selectr.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


.section { 
    h3 { 
        font-weight: 800;
        font-size: 50px;
        span { 
            color: $warning;
        }
    }
}



// ::-moz-focus-inner { 
//     outline: none !important;
//     display: none; 
// }