@import "../fonts/Circe/stylesheet.css";
@import "../fonts/Montserrat/Montserrat/stylesheet.css";

// @import "https://unpkg.com/swiper/css/swiper.min.css";

// @import "https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css";


html, body { 
    font-size: 16px;
    background: #fff; 
    color: #000;
}
$primary: #611afd;
$warning: #ffaf05; 

$font-family-sans-serif:  'Circe';
 

@import "_header";
@import "_main-banner";
@import "_about";
@import "_four"; 
@import "_five";
@import "_table";
@import "_order";
@import "_accordion";
@import "_master";
@import "_review";
@import "_also";
@import "_contact"; 
@import "_footer"; 
@import "_modal"; 

@import "_media";

// @import "../node_modules/mobius1-selectr/dist/selectr.min.css";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";


.section { 
    h3 { 
        font-weight: 800;
        font-size: 50px; 
        padding-bottom: 40px;
        span { 
            color: $warning;
        }
    }
}

button:focus {  
    outline: none;
}
input:focus {  
    outline: none;
}
select:focus { 
    outline: none;
}
textarea:focus { 
    outline: none;
}
.selectr-selected:focus { 
    outline: none;
}

.js-table-btn a { 
    color: #fff;
    cursor: pointer;
}

html, body { 
    overflow-x: hidden;
}
// ::-moz-focus-inner { 
//     outline: none !important;
//     display: none; 
// } 

#our-work, #reviews, #contacts { 
    transform: translateY(-92px);
}

.navbar-toggler { 
    width: 56px;
    height: 40px;
     
    svg {  
        width: 20px;
        height: 20px;
        opacity: .5;
        fill: rgb(58, 55, 55);
    }
}
// .navbar-toggler.collapsed { 
//     svg { 
//         display: none !important;
//     }
// }
// .navbar-toggler.start { 
//     span { 
//         display: inline-block;
//     }
// }